body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-top: 0;
}

#taskInput, #categoryInput, #priorityInput, #dueDateInput, #searchInput {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#addTaskBtn, #searchTaskBtn {
    padding: 10px;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task.completed {
    text-decoration: line-through;
    color: grey;
}

.task .details {
    flex: 1;
}

.task .details span {
    display: block;
}

/* Styles pour la modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste à l'écran même en faisant défiler */
    z-index: 1; /* Au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec transparence */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Peut être ajusté pour plus de réactivité */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
